/* You don't really have to touch this style.css file. Most of the styling of the canvas is controlled via the sketch.js */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("https://raw.githubusercontent.com/JornMeessen/generative-art-jornmeessen/main/schilderijen/img/background_egaal.jpg");
  background-repeat: no-repeat;
  /*background-color: #504742;*/
}


